
body {
	font-family: "Times New Roman", Georgia, Serif;
}

#header-nav {
	color: black;
	border-width: 1px;
	border-color: black;
	background-color: #AEAAAA;
	border-radius: 0;

}

#logo {
	color: black;
}


div h3 {
	text-align: center;
}


p {
	height: 700px;
	padding-right: 10px;
	padding-left: 10px;	
}

.backtotop {
	color: black;
}

.spacer {
	margin-top: 0px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;

	border: 1px solid black;
	border-radius: 10px;
	background-color: gray;
}

a:visited {
	color: #2119BE;
}



/* different background colors for section titles */
.titleChicken {
    background-color: #D5849B;
}
.titleBeef {
    background-color: #AC1818;
}
.titleSushi {
    background-color: #E4DB78;
}